body {
    background-color: black;
    display: block;
    text-align: center;
}
header {
    font-size: 30px;
    color: white;
}

video {
    object-fit: contain;
}

h2 {
    color: white;
    font-size: 30px;
}

.guide p {
    color: gray;
    font-size: 20px;
}

.guide h3 {
    font-size: 30;
    color: white;
}

.link {
    color: blue;
    font-size: 16px;
}